.kasa-locations {
  margin: 0 100px 50px 100px;
  padding: 56px 25px 0 25px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-grow: 0;
  background-color: #f6f6f6;
  border-radius: 25px;
}

.kasa-locations-element {
  width: 340px;
  height: 340px;
  margin-bottom: 50px;
  list-style-type: none;
}
