.kasa-location-tag {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;

  @media screen and (max-width: 375px) {
    flex-wrap: wrap;
  }
}

.kasa-location-tag-list {
  margin-right: 10px;

  @media screen and (max-width: 375px) {
    margin-bottom: 10px;
  }
}

.kasa-location-tag-list-element {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  background-color: #ff6060;
  border-radius: 10px;
  padding: 3px 22px;

  @media screen and (max-width: 375px) {
    font-size: 10px;
    border-radius: 5px;
  }
}
